.story5-body {
    width: 100%;
    margin: 0 auto;
    /* padding-bottom: 10rem; */
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 32px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Josefin Sans', serif;
}

.header p {
    font-size: 12px;
    font-family: 'Josefin Sans', serif;
}

.header h2 {
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}

.mainBody {
    font-size: 13px;
    max-width: 1030px;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
}

.mainBody article {
    width: 100%;
    margin: 0 auto;
}

.mainBody article .section1 {
    width: 100%;
}

.mainBody article .section2 {
    width: 80%;
    position: relative;
    left: 205px;
    z-index: 99;
}

.div1 {
    float: right;
    margin: 5px;
}

.img1 {
    width: 13rem;
    height: 13rem;
    padding: 5px;
}

.mainBody article .section3 {
    width: 100%;
}

.div2 {
    float: left;
    margin: 5px;
    padding-bottom: 1rem;
    display: inline-block;
}

/* .div2 .divE {
    
} */

.div2 span {
    display: block;
}

.mainBody article .img2 {
    width: 33rem;
    height: 22rem;
    padding: 5px;
}

.mainBody article .section4 {
    width: 100%;
}

.img3 {
    width: 20rem;
    height: 15rem;
    padding: 15px;
}

.mainBody article .section5 {
    width: 100%;
    position: relative;
    padding-left: 6rem;
    padding-bottom: 22rem;
}

.mainBody article .section5 .div5 {
    width: 100%;
    padding-bottom: 1rem;
}

.carousel-root {
    margin: 0 auto;
    width: 40rem;
    height: 20rem;
}
.carousel-image {
    width: 40rem;
    height: 20rem;
}

.mainBody article .section6 {
    width: 80%;
    margin: 0 auto;
    position: relative;
    left: 100px;
    z-index: 99;
}

@media (min-width: 240px) and (max-width: 500px) {
    .mainBody article .section1 {
        width: 100%;
        margin: 0 auto;
    }
    .div1 {
        float: initial;
        margin: 0px;
    }
    .img1 {
        width: 15rem;
        height: 13rem;
    }
    .div2 {
        /* display: block; */
        float: initial;
        clear: both;
        margin: 0 auto;
        padding-bottom: 1rem;
    }
    .mainBody article .img2 {
        width: 15rem;
        height: 10rem;
        padding: 0px;
        /* padding: 5px; */
    }
    .mainBody article .section5 {
        /* float: initial;
        clear: both; */
        margin: 0 auto;
        padding-left: 0;
        padding-bottom: 4rem;
    }
}