.productBody {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    /* display: flex;
    flex-wrap: wrap; */
    /* padding-bottom: 5rem; */
    min-height: 100%;
}

/* .productBody article {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */

.productBody .div1 {
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    text-align: center;
}

.push {
    padding-bottom: 5rem;
}

.productBody figure div {
    height: 30rem;
    width: 55rem;
}

.productBody figure div Img {
    display: flex;
    padding-top: 2rem;
    padding-left: 5rem;
}

.productBody figure {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    color: black;
    text-align: center;
    /* justify-content: center; */
    font-size: 23px;
    text-decoration: underline;
    padding-top: 10rem;
}

@media screen and (max-width: 900px) {
    .productBody figure div {
        height: 25rem;
        width: 35rem;
    }
    .productBody ul {
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    .productBody figure div {
        height: 15rem;
        width: 25rem;
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .productBody figure div {
        height: 12rem;
        width: 15rem;
        margin: 0 auto;
        padding: 0;
    }
}