body {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10rem;
  min-width: 550px;
  position: relative;
  
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 32px;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: 'Josefin Sans', serif;
}

.header p {
  font-size: 12px;
  font-family: 'Josefin Sans', serif;
}

.header h2 {
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
}

.mainBody {
  font-size: 14px;
  max-width: 1030px;
  font-family: 'Playfair Display', serif;
}

.mainBody article {
  width: 100%;
}

.mainBody article .section0 {
  width: 90%;
  margin: 0 auto;
}

.div0 {
  position: relative;
  z-index: 100;
}

.mainBody article .section1 {
  width: 60%;
  margin: 0 auto;
  padding-top: 26rem;
}

.mainBody article .section2 {
  width: 80%;
  position: relative;
  left: 205px;
  z-index: 99;
}

.div1 {
  float: right;
  margin: 5px;
}

.img1 {
  width: 15rem;
  height: 15rem;
  padding: 20px;
}

.mainBody article .section3 {
  width: 85%;
}

.div2 {
  float: left;
  margin: 5px;
}

.mainBody article .img2 {
  width: 30rem;
  height: 20rem;
  padding: 15px;
}

.mainBody article .section4 {
  width: 80%;
  position: relative;
  left: 200px;
  z-index: 99;
  padding-bottom: 50px;
}

.img3 {
  width: 20rem;
  height: 15rem;
  padding: 15px;
}

.mainBody article .section5 {
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* padding-top: 100px; */
  /* top: -50px; */
  left: -6px;
  
  z-index: 99;
}

.img4 {
  width: 20rem;
  height: 15rem;
  position: relative;
  top: -50px;
  left: -20px;
  z-index: 99;
}

.mainBody article .section6 {
  width: 60%;
  margin: 0 auto;
  position: relative;
  left: -6px;
  z-index: 99;
}

.carousel {
  z-index: 99;
  position: relative;
}