.story2wrapper {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5rem;
    max-width: 900px;
}

.header {
    text-align: center;
    padding-bottom: 2rem;
}

.headerImage {
    width: 45rem;
    height: 11rem;
    margin: 0 auto;
}

.header h1 {
    font-size: 32px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Josefin Sans', serif;
}

.header p {
    font-size: 12px;
    font-family: 'Josefin Sans', serif;
}

.mainBody {
    font-size: 14px;
    padding-bottom: 2rem;
    font-family: 'Playfair Display', serif;
}

.mainBody article {
    width: 100%;
}

.mainBody article .section1 {
    width: 70%;
    margin: 0 auto;
}

.mainBody article .section2 {
    width: 70%;
    margin: 0 auto;
}

.div1 {
    float: left;
    margin: 5px;
}

.img1 {
    width: 18rem;
    height: 12rem;
    padding: 15px;
}

.mainBody article .section3 {
    width: 70%;
    margin: 0 auto;
}

.div2 {
    float: right;
    margin: 5px;
}

.mainBody article .img2 {
    width: 15rem;
    height: 12rem;
    padding: 5px;
}

.mainBody article .section4 {
    width: 100%;
    /* display: inline-block; */
    /* justify-content: center;
    align-items: center; */
    margin: 0 auto;
    padding-top: 3rem;
    /* position: relative; */
    /* left: 200px; */
    z-index: 99;
}

.mainBody article .section4 .story2CarouselRoot {
    margin: 0 auto;
    width: 50rem;
    height: 30rem;
}

.mainBody article .section4 .story2CarouselImage {
    width: 50rem;
    height: 30rem;
}

@media (min-width: 601px) and (max-width: 840px) {
    .headerImage {
        width: 35rem;
        height: 14rem;
    }
    .mainBody article .section4 .story2CarouselRoot {
        margin: 0 auto;
        width: 35rem;
        height: 27rem;
    }
    .mainBody article .section4 .story2CarouselImage {
        width: 35rem;
        height: 27rem;
    }
}

@media (min-width: 501px) and (max-width: 600px) {
    .headerImage {
        width: 26rem;
        height: 11rem;
    }
    .mainBody article .section4 .story2CarouselRoot {
        margin: 0 auto;
        width: 25rem;
        height: 17rem;
    }
    .mainBody article .section4 .story2CarouselImage {
        width: 25rem;
        height: 17rem;
    }
}

@media (min-width: 240px) and (max-width: 500px) {
    .story2wrapper {
        width: 100%;
        display: block;
    }
    .headerImage {
        width: 17rem;
        height: 9rem;
    }
    .mainBody article .section1 {
        width: 100%;
    }
    .mainBody article .section2 .img1 {
        width: 18rem;
        height: 12rem;
        padding: 0;
    }
    .mainBody article .section2 {
        width: 100%;
    }
    .div2 {
        margin:  0;
    }
    .mainBody article .section3 .img2 {
        width: 18rem;
        height: 12rem;
        padding: 0;
    }
    .mainBody article .section3 {
        width: 100%;
    }
    .mainBody article .section4 .story2CarouselRoot {
        margin: 0 auto;
        width: 18rem;
        height: 12rem;
    }
    .mainBody article .section4 .story2CarouselImage {
        width: 18rem;
        height: 12rem;
    }
    /* .carousel {
        margin: 0 auto;
        margin-left: 0;
        margin-top: 0;
    }
    .carousel-root {
        width: 15rem;
        height: 5rem;
    }
    .carousel-image {
        width: 15rem;
        height: 5rem;
    } */
}