.fibonacciContainer {
    margin: 0 auto;
    width: 100%;
    /* max-width: 1100px; */
}

.upperBody {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.upperBody div {
    position: relative;
}

.upperBody .parallax {
    margin: 0 auto;
    background-position: fixed;
    display: flex;
    justify-content: center;
    opacity: 0.6;
}

.upperBody .parallax .parallaxDiv {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upperBody .parallax .parallaxDiv h4 {
    position: absolute;
    font-size: 60px;
    padding-top: 8rem;
    font-weight: 100;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.upperBody .parallax .parallaxDiv p {
    position: absolute;
    width: 50%;
    font-size: 14px;
    padding-top: 14rem;
    text-align: left;
    font-family: 'Playfair Display', serif;
}

.slugStyle {
    font-family: 'Playfair Display', serif;
    font-size: 13px;
}

.lowerBody {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 0 auto;
    object-fit: cover;
}

.lowerBody .fibonacciProductContainer {
    width: 100%;
    margin: 0 auto;
    /* vertical-align: middle; */
    /* width: 100%; */
}

.v2 {
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 1rem;
}

.fibonacciItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.v2 figure {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    float: none;
    padding-right: 1rem;
    position: relative;
    overflow: hidden;
}

.v2 figure * {
    box-sizing: border-box;
    transition: all 0.45s ease;
    /* margin: 0 auto; */
}

.v2 figure div {
    height: 10rem;
    width: 17rem;
    /* float: left; */
    display: inline-block;
    backface-visibility: hidden;
    margin: 0 auto;
}

.v2 h3 {
    font-size: small;
    float: left;
    font-family: 'Playfair Display', serif;
    /* padding-right: 12.5rem; */
    margin-left: 0.5rem;
}

.v2 figure p {
    font-size: 12px;
    margin: 0 1rem 0 0;
}

.v2 figure figcaption {
    background-color: rgb(156, 142, 109);
    margin-right: 1rem;
    margin-bottom: 3rem;
    position: absolute;
    top: 47%;
    bottom: 2%;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.v2 figure:hover:before, .v2 figure:hover:after {
    transform: scale(1);
    opacity: 1;
    cursor: pointer;
}

.v2 figure:hover div {
    opacity: 0.7;
    cursor: pointer;
}

.v2 figure:hover figcaption {
    opacity: 1;
    cursor: pointer;
}

.v2 figure figcaption h4 {
    color: white;
}

.necklace {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.necklace figure {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    float: left;
    padding-right: 1rem;
    position: relative;
    overflow: hidden;
}

.necklace figure * {
    box-sizing: border-box;
    transition: all 0.45s ease;
}

/* .necklace figure:before, .necklace figure:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
} */

.necklace figure div {
    height: 13rem;
    width: 17rem;
    float: left;
    margin-right: 0rem;
    display: block;
    backface-visibility: hidden;
}

.necklace h3 {
    font-size: small;
    font-family: 'Playfair Display', serif;
    margin-left: 0.5rem;
    font-weight: 600;
}

.necklace figure p {
    font-size: 12px;
    margin: 0 1rem 0 0;
}

.necklace figure figcaption {
    background-color: rgb(156, 142, 109);
    margin-right: 1rem;
    margin-bottom: 3rem;
    position: absolute;
    top: 56%;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.necklace figure:hover:before, .necklace figure:hover:after {
    transform: scale(1);
    opacity: 1;
    cursor: pointer;
}

.necklace figure:hover div {
    opacity: 0.7;
    cursor: pointer;
}

.necklace figure:hover figcaption {
    opacity: 1;
    cursor: pointer;
}

.necklace figure figcaption h4 {
    color: white;
}

.Modal {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1001;
    /* Overlay effect: positioned over other containers */
    width: 23rem;
    /* Full width */
    height: 24rem;
    /* Full height */
    position: fixed;
    /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: hidden;
    /* Enable scroll if needed */
    /* Location of the content container */
    /* max-height: calc(100vh - 225px); */
}

.Modal h1 {
    background-color: white;
    /* width: 80%; */
    /* Height in proportion to its parent container */
    /* margin: 0 auto; */
    /* Auto margin according to the element width */
    /* padding: 10px; */
    padding-right: 10px;
    padding-left: 10px;
    /* margin-left: 50px; */
    padding-top: 20px;
    max-width: 640px;
    max-height: 500px;
    font-size: 25px;
    text-transform: uppercase;
}

/* Modal content */

.modalcontent {
    background-color: white;
    width: 80%;
    /* Width in proportion to its parent container*/
    max-width: 640px;
    /* Max width where it stops expanding */
    /* height: 10; */
    /* Height in proportion to its parent container */
    margin: auto;
    /* Auto margin according to the element width */
    padding: 10px;
    display: flex;
}

.modalcontent h4 {
    /* text-align: center; */
    color: #aaaaaa;
}

.modalLeft {
    width: 8rem;
    height: 18rem;
}

.close {
    color: #aaaaaa;
    float: right;
    /* Positioned to the right of the parent container whichever size it is */
    font-size: 25px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.row {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    flex: 1 1 8%;
    margin: 0 0 0.5rem 0;
    padding: 1rem 30px;
    box-sizing: border-box;
}

.row.center {
    justify-content: center;
}

.center .col {
    flex-grow: 0;
    flex-shrink: 0;
}

.colspan3 {
    flex-basis: 10%;
}

.colspan4 {
    flex-basis: 50%;
}

.title {
    font-size: 45px;
}

.carouselStyle {
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 2rem;
    margin-bottom: 1rem;
    /* margin-bottom: 1rem; */
}

@media screen and (max-width: 600px) {
    /* .necklace figure div {
        height: 17rem;
        width: 22rem;
    } */
    .necklace {
        width: 100%;
    }
    .necklace figure {
        margin-left: 0;
        margin: 0 auto;
        width: 100%;
    }
    .necklace figure div {
        height: 13rem;
        width: 17rem;
        margin: 0 auto;
    }
    .v2 {
        width: 100%;
    }
    .v2 figure {
        margin-left: 0;
        margin: 0 auto;
        width: 100%;
    }
    .v2 figure div {
        height: 11rem;
        width: 17rem;
        margin: 0 auto;
    }
    .fibonacciProductContainer {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .parallax {
        left: -5rem;
    }
    .parallax h4 {
        left: 14rem;
    }
    .parallax p {
        left: 16rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .parallax {
        left: -12rem;
    }
    .upperBody .parallax .parallaxDiv h4 {
        padding-top: 5rem;
        left: 6rem;
        font-size: 50px;
        width: 60%;
    }
    .upperBody .parallax .parallaxDiv p {
        left: 11rem;
        width: 40%;
        padding-top: 9rem;
        font-size: 13px;
    }
}

@media (min-width: 200px) and (max-width: 319px) {
    .parallax {
        left: -7rem;
        width: 20rem;
    }
    .upperBody .parallax .parallaxDiv h4 {
        left: 4.5rem;
        font-size: 50px;
    }
    .upperBody .parallax .parallaxDiv p {
        width: 30%;
        left: 9rem;
        font-size: 12px;
    }
}