.footer {
  color: black;
  text-align: center;
  font-size: 23px;
  text-decoration: underline;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: underline;
}

@media (min-width: 240px) and (max-width: 480px) {
  .footer {
    width: 240px;
    text-align: left;
    padding-left: 1rem;
    font-size: 20px;
  }

} 