.storyWrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.upperWrapper {
  margin: 0 auto;
}

.upperBody {
  width: 100%;
  display: inline-block;
}

.upperBody h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Josefin Sans', serif;
  font-weight: lighter;
}

.upperBody p {
  width: 60%;
  margin: 1rem auto;
  text-align: left;
  font-family: 'Playfair Display', serif;
}

.lowerBody {
  max-width: 1170px;
  width: 100%;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-wrap: nowrap;
}

.lowerBody span {
  display: inline-block;
}

.lowerBody ul {
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0.5rem; */
  list-style-type: none;
  padding-bottom: 4rem;
  /* padding-left: 5rem; */
}

.lowerBody ul li {
  padding-bottom: 2rem;
}

.lowerBody div {
  height: 18rem;
  width: 27rem;
}

.lowerBody figure {
  display: flex;
  margin: 0 auto;
}

.lowerBody .titleP {
  text-transform: capitalize;
}

.lowerBody figure p {
  font-size: 16px;
  padding-left: 1rem;
  white-space: nowrap;
}

.lowerBody figure .dateP {
  font-size: 12px;
  color: gray;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* body {
  font-family: 'Playfair Display', serif;
} */

h1 {
  font-size: 40px;
  text-transform: capitalize;
}

p {
  line-height: 2;
}

@font-face {
  font-family: 'Josefin Sans';
  src: local('Josefin Sans'), url(./../fonts//josefinsans/JosefinSans-Light.ttf) format('truetype');
}

/* @media screen and (min-width: 672px) {
  .lowerBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .lowerBody {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */

/* @media screen and (max-width: 672px) {
  .lowerBody div {
    width: 20rem;
    height: 13rem;
    display: flex;
    justify-content: center;
  }
  .lowerBody ul {
    padding: 0 auto;
  }

  .lowerBody ul li{
    padding-bottom: 9rem;
    
  }

  .lowerBody figure {
    display: block;
  }
} */

@media (min-width: 481px) and (max-width: 767px) {
  .upperBody {
    width: 80%;
  }
  .upperBody h1 {
    font-size: 50px;
    /* padding-left: 2rem; */
  }
  .upperBody {
    padding-left: 1rem;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/


@media (min-width: 401px) and (max-width: 480px) {
  .upperBody h1 {
    font-size: 60px;
  }
  .upperBody p {
    width: 100%;
  }
  .lowerBody figure {
    display: block;
    /* margin-left: 3rem; */
  }
  .lowerBody ul li {
    padding-bottom: 8rem;
  }
  .lowerBody ul {
    padding-left: 0;
    /* padding: 1rem auto; */
  }
  .lowerBody div {
    width: 15rem;
    height: 10rem;
  }
}

@media (min-width: 240px) and (max-width: 400px) {
  .upperBody h1 {
    font-size: 60px;
  }
  .upperBody p {
    width: 90%;
  }
  .lowerBody figure {
    display: block;
    margin-left: -2rem;
  }
  .lowerBody ul li {
    padding-bottom: 9rem;
  }
  .lowerBody div {
    width: 16rem;
    height: 12rem;
  }
}