.story4-body {
    width: 90%;
    margin: 0 auto;
    /* padding-bottom: 26rem; */
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 32px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Josefin Sans', serif;
}

.header p {
    font-size: 12px;
    font-family: 'Josefin Sans', serif;
}

.header h2 {
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}

.mainBody {
    font-size: 13px;
    max-width: 900px;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
}

.mainBody article {
    width: 100%;
    margin: 0 auto;
}

.mainBody article .section0 {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 23rem;
    /* padding-left: 7rem; */
}

.div0 {
    position: relative;
    z-index: 100;
    height: 20rem;
}

.carousel-root {
    width: 50rem;
    height: 20rem;
}

.carousel-image {
    width: 50rem;
    height: 20rem;
}

.carousel .carousel-image {
    /* width: 50rem; */
    height: 20rem;
}

.mainBody article .section1 {
    width: 54.5%;
    margin: 0 auto;
}

.mainBody article .section2 {
    width: 80%;
    position: relative;
    left: -105px;
    z-index: 99;
}

.div1 {
    float: right;
    margin: 5px;
}

.img1 {
    width: 15rem;
    height: 15rem;
    padding: 15px;
}

.mainBody article .section3 {
    width: 80%;
    position: relative;
    left: 205px;
    z-index: 99;
}

.div2 {
    float: right;
    margin: 5px;
}

.mainBody article .img2 {
    width: 20rem;
    height: 12rem;
    padding: 15px;
    padding-left: 5rem;
}

.mainBody article .section4 {
    width: 80%;
    position: relative;
    left: 205px;
    z-index: 99;
}

/* .img3 {
    width: 20rem;
    height: 15rem;
    padding: 15px;
} */

/* .mainBody article .section5 {
    width: 80%;
    margin: 0 auto;
    position: relative;
    left: 100px;
    z-index: 99;
}

.mainBody article .section6 {
    width: 80%;
    margin: 0 auto;
    position: relative;
    left: 100px;
    z-index: 99;
} */

@media (min-width: 501px) and (max-width: 900px) {
    .mainBody article .section0 {
        padding-bottom: 0rem;
    }
    .div0 {
        height: 22rem;
    }
    .mainBody article .section1 {
        width: 80%;
    }
    .mainBody article .section3 {
        display: block;
        width: 80%;
        clear: both;
        left: 0px;
        float: initial;
        margin: 0 auto;
    }
    .mainBody article .section3 .div2 {
        /* clear: both; */
        /* float: initial; */
        /* justify-content: center;
        align-items: center; */
        text-align: center;
    }
    .mainBody article .img2 {
        width: 17rem;
        height: 13rem;
        
        padding: 0;
    }
    .mainBody article .section4 {
        width: 80%;
        position: relative;
        padding-left: 5rem;
        left: 0;
        z-index: 99;
    }
}
@media (min-width: 240px) and (max-width: 500px) {
    .mainBody article .section0 {
        padding-bottom: 0rem;
    }
    .div0 {
        height: 12rem;
    }
    .mainBody article .section1 {
        width: 100%;
    }
    .mainBody article .section3 {
        display: block;
        width: 90%;
        clear: both;
        left: 0px;
        float: initial;
    }
    .mainBody article .section3 .div2 {
        clear: both;
        float: initial;
    }
    .mainBody article .img2 {
        width: 17rem;
        height: 13rem;
        /* padding: 15px; */
        padding: 0;
    }
    .mainBody article .section4 {
        width: 100%;
        /* position: relative; */
        left: 0px;
        /* z-index: 99; */
    }
}